
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
                <a href="https://github.com/mustafabalkaya" target="_blank">
                    <span class="s-icon"><i class="fa fa-github"></i></span>
                </a>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">2500</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">500+</h4>
                        <p class="m-0">Takip Ettiklerim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-linkedin">
                <a href="https://www.linkedin.com/in/mustafabalkaya" target="_blank">

                <span class="s-icon"><i class="fa fa-linkedin"></i></span>
                </a>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">2000</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.l1</h4>
                        <p class="m-0">Takip Ettiklerim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
        
    
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-googleplus">
                <a href="https://www.instagram.com/mustafaabalkaya" target="_blank">
                <span class="s-icon"><i class="fa fa-instagram"></i></span>
                </a>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.v1</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.v2</h4>
                        <p class="m-0">Takip Ettiklerim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="social-graph-wrapper widget-twitter">
                <a href="https://www.x.com/mustafaabalkaya" target="_blank">

                <span class="s-icon"><i class="fa fa-twitter"></i></span>
                </a>
            </div>
            <div class="row">
                <div class="col-6 border-right">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.t1</h4>
                        <p class="m-0">Takipçiler</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                        <h4 class="m-1">@ViewBag.t2</h4>
                        <p class="m-0">Takip Ettiklerim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

